.btn1{
    height:50px ;
    width: 90px;
    border: 1px solid blue;
    border-radius: 8px;
    background-color: blue;
    color: white;

}
div{
    width: 70%;
    border: 3px solid blue;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    font-size: 15px;
    box-sizing: border-box;
}
input textarea{
    width: 30%;
}
input[type="checkbox"],
input[type="radio"]{
    width: auto;
}
input:valid{
    border: 1px solid blue;
}
input:invalid{
    border: 1px solid red;
}